@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body, * {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  overflow-X: hidden;
}

body h1 {
  font-size: clamp(33px, 13vw, 70px);
}

body p {
  font-size: clamp(20px, 10vw, 45px);
}

.hw-auto {
  height: auto;
  width: 100%;
}

.fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.815);
}

.fixed-bar .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7em 1em;
}

.fixed-bar .main-header img {
  height: 35px;
}

.main-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.93);
  visibility: hidden;
  margin-top: 1em;
}

.main-nav .full-nav {
  padding-left: 1.8em;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-nav .full-nav ul li {
  list-style: none;
}

.main-nav .full-nav ul li a {
  color: white;
  font-size: clamp(40px, 13vw, 85px);
  font-weight: 600;
  text-decoration: none;
}

.main-nav .full-nav ul li .drop-down {
  height: clamp(15px, 15vw, 33px);
  background-image: url("../IMG/Arrow Down White.svg");
  width: clamp(15px, 15vw, 33px);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.main-nav .full-nav ul li #dropdown-menu-one {
  padding-left: 3.25em;
  display: none;
}

.main-nav .full-nav ul li #dropdown-menu-one li a {
  font-size: clamp(20px, 13vw, 65px);
  font-weight: 400;
  font-style: italic;
}

.main-nav .full-nav ul li #dropdown-menu-one li::before {
  content: "\2022";
  color: white;
  font-size: 55px;
  font-weight: 500;
}

.section-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5em 0.5em;
}

.section-one #main-title {
  margin-top: 0.4em;
}

.section-one p {
  margin-top: 0.4em;
}

.section-one .clock-container {
  text-align: center;
  outline: black 5px solid;
  padding: 15px;
  margin: 3em 1.5em 0 0.5em;
  font-style: italic;
}

.section-one .clock-container #clock {
  font-size: clamp(35px, 13vw, 85px);
  font-weight: 400;
}

.section-two, .section-three {
  margin-bottom: 3em;
}

.section-two p, .section-three p {
  margin: 0.45em 0;
}

.section-two button, .section-three button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border: solid 2px black;
  border-radius: 8px;
  font-style: italic;
  cursor: pointer;
  margin-left: 1em;
}

.section-two .error, .section-three .error {
  color: red;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  border: solid 2px red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1em;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*# sourceMappingURL=styles.css.map */